<section id="feeds">
    <div id="feeds-news">
        <!-- ========================================== All News Items -->
        <div class="news-item large-news">
            <img src="https://cdn.newsfirst.lk/sinhala-uploads/2019/12/cf1c5068-7e8166a4-president-gotabaya-rajapaksa_850x460_acf_cropped.jpg">
            <h2>මහ වැස්සෙන් පීඩාවට පත් ජනතාවට කඩිනමින් සහන සලසන්න</h2>
        </div>
        <!-- ========================== Side News -->
        <div class="news-item side-news">
            <img src="https://cdn.newsfirst.lk/sinhala-uploads/2019/12/62880964-239610_650x250_crop.jpg">
            <p>තානාපති කාර්යාලයේ සිද්ධිය:පූර්ණ විමර්ශනයකට නියෝග</p>
        </div>
        <div class="news-item side-news">
            <img src="https://cdn.newsfirst.lk/sinhala-uploads/2019/12/3608ed56-239602_650x250_crop.jpg">
            <p>දිවයින අවට වැසි තත්ත්වය තවදුරටත්</p>
        </div>
        <!-- ================ Normal News -->
        <div class="news-item normal-news">
            <img src="http://static.dailymirror.lk/assets/uploads/image_2ab46f847c.jpg">
            <p>අලුත් රෙජිමේන්තුව සඳහා බලතල වැඩි කිරීමක්</p>
        </div>
        <div class="news-item normal-news">
            <img src="http://static.dailymirror.lk/assets/uploads/image_4e7ca14796.jpg">
            <p>අප ඇඳුම් නැති අධිරාජ්‍යවාදීන් වගේ - මහාචාර්ය හුල්</p>
        </div>
        <div class="news-item normal-news">
            <img src="http://static.dailymirror.lk/assets/uploads/image_774c1ca63d.jpg">
            <p>ජනාධිපතිවරණයන් පසු සමාජජාල වෙබ් අඩවියන් හී වෛරීය ප්‍රකාශ! </p>
        </div>
        <div class="news-item normal-news">
            <img src="http://static.dailymirror.lk/assets/uploads/image_b9cf593568.jpg">
            <p>ඇයි මිනිසුන් ගෝඨා දිනෙව්වේ?</p>
        </div>
        <div class="news-item normal-news">
            <img src="http://static.dailymirror.lk/assets/uploads/image_81b9b697d4.jpg">
            <p>ජනාධිපති ගෝඨාභය සහ උතුරේ කලබල</p>
        </div>
        <div class="news-item normal-news">
            <img src="https://cdn.newsfirst.lk/sinhala-uploads/2019/12/e1c1ac54-abdul-madi.jpg">
            <p>ඉරාක පාර්ලිමේන්තුව එරට අගමැතිගේ ඉල්ලා අස්වීම අනුමත කරයි</p>
        </div>
    </div>
    <div id="feeds-weather">
        <a class="weatherwidget-io" href="https://forecast7.com/en/6d9379d86/colombo/" data-label_1="COLOMBO" data-label_2="WEATHER" data-theme="original" >COLOMBO WEATHER</a>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
    </div>
</section>