*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    font-weight: 100;
}
/* ======================================== */
/* Globals */
.active{
    padding-bottom: 9px;
    border-bottom: 3px solid rgb(104, 104, 104);
}
/* ======================================== */
/* a */
a{
    outline: none;
}
/* Body */
body{
    background-color: #fff;
    overflow-x: hidden;
}

/* ============================================================ */
/* Search Section */
#search-section{
    width: 96%;
    background-color: #FAFAFA !important;
    padding: 20px 30px 10px 30px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}
#search-section img{
    width: 3.5%;
    float: left;
    margin-top: 5px;
}
#search-section input{
    margin-left: 20px;
    border: .5px solid lightgray;
    border-right: 0;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 45%;
    float: left;
}
#search-section a#search{
    background-color: #fff;
    border: .5px solid lightgray;
    border-left: 0;
    float: left;
    text-decoration: none;
    color: #2c2c2c;
    padding: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all ease-in-out 120ms;
}
#search-section a#search:hover{
    background-color: #65BC46;
    color: #fff;
    border-color: #65BC46;
}
/* ================================ Top Bar Aside Buttons */
#search-section .top-bar-btn{
    float: right;
    text-decoration: none;
    color: #2c2c2c;
    padding: 15px;
    margin-right: 5px;
    border-radius: 60px;
    transition: all ease-in-out 120ms;
}
#search-section .top-bar-btn:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
/* Aside Google With Menu */
#google-dropdown-btn{
    position: relative;
}
/* ====== Top Bar Sign In button */
#search-section #signin-btn{
    background-color: #65BC46;
    border: .5px solid lightgray;
    float: right;
    text-decoration: none;
    color: #fff;
    width: 5%;
    font-weight: 900;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    transition: all ease-in-out 120ms;
}
#search-section #signin-btn:hover{
    background-color: #6cca4a;
}
/* Top Bar Foot */
#search-section-foot{
    width: 90%;
    clear: both;
    padding-left: 4%;
    padding-top: 14px;
}
#search-section-foot a{
    color: rgb(104, 104, 104);
    text-decoration: none;
    margin-left: 20px;
    background-color: #fff;
}
/* ============================================================ */
/* Result Display */
#result-display{
    width: 60%;
    margin-top: 2.5%;
    float: left;
    padding-left: 6.5%;
}
/* Result Item */
#result-display .result-item{
    margin-top: 15px;
    padding: 5px;
    width: 90%;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 500;
    border: .5px solid #fff;
    transition: all ease-in-out 110ms;
}
#result-display .result-item:hover{
    border: .5px solid lightgray;
}
#result-display .result-item h1{
    font-size: 20px;
    font-weight: 1500;
    color: #1a0dab;
}
#result-display .result-item h3{
    font-size: 14px;
    font-weight: 400;
    color: #006621;
}
#result-display .result-item p{
    font-size: 14px;
    font-weight: 500;
    color: #494949;
}
/* ============================================================ */
/* Result Aside Section */
#result-aside{
    width: 25%;
    float: left;
    margin-top: 2.5%;
}
/* ======================================== */
/* %%%%%%%%%%% The Aside YT Section */
#result-aside #result-aside-yt{
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 5px;
}
/* Videos Topic */
#result-aside #result-aside-yt #result-aside-yt-topic{
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
/* More Videos anchor */
#result-aside #result-aside-yt a{
    color: #111;
    text-decoration: none;
    padding: 10px;
}
/* One YT Item */
#result-aside #result-aside-yt .result-aside-yt-item{
    border-bottom: .5px solid lightgray;
    overflow: hidden;
    transition: all ease-in-out 180ms;
}
/* hovered */
#result-aside #result-aside-yt .result-aside-yt-item:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
#result-aside #result-aside-yt .result-aside-yt-item img{
    width: 40%;
    float: left;
}
#result-aside #result-aside-yt .result-aside-yt-item p{
    width: 56%;
    padding-left: 10px;
    float: left;
}

/* %%%%%%%%%%% Aside Market Section */
#result-aside #result-aside-market{
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 5px;
    clear: both;
}
/* Market Topic */
#result-aside #result-aside-market #result-aside-market-topic{
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
/* More Videos anchor */
#result-aside #result-aside-market a{
    color: #111;
    text-decoration: none;
    padding: 10px;
}
/* One YT Item */
#result-aside  #result-aside-market .result-aside-market-item{
    border-bottom: .5px solid lightgray;
    overflow: hidden;
    transition: all ease-in-out 180ms;
}
/* hovered */
#result-aside  #result-aside-market .result-aside-market-item:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
#result-aside #result-aside-market .result-aside-market-item img{
    width: 40%;
    float: left;
}
#result-aside #result-aside-market .result-aside-market-item p{
    width: 56%;
    padding-left: 10px;
    float: left;
}
/* ================= FOOTER =============== */
footer{
    padding: 10px 80px;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Abhaya Libre';
    clear: both;
    border-top: .5px solid lightgray;
    background-color: #FAFAFA;
}
footer img{
    width: 5%;
    float: left;
}
footer p{
    float: left;
    padding-top: 10px;
    font-weight: 900;
}




































/* ============================================ STYLE FOR MOBILE WITH SCREEN =============================== */
@media screen and (max-width: 479px) {
    /* ============================================================ */
    /* Search Section */
    #search-section{
        width: 96%;
        background-color: #FAFAFA !important;
        padding: 20px 30px 10px 30px;
        overflow: hidden;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    }
    #search-section img{
        width: 12%;
        float: left;
        margin-top: 5px;
    }
    #search-section input{
        margin-left: 20px;
        border: .5px solid lightgray;
        border-right: 0;
        padding: 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 45%;
        float: left;
    }
    #search-section a#search{
        background-color: #fff;
        border: .5px solid lightgray;
        border-left: 0;
        float: left;
        text-decoration: none;
        color: #2c2c2c;
        padding: 17px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all ease-in-out 120ms;
    }
    #search-section a#search:hover{
        background-color: #65BC46;
        color: #fff;
        border-color: #65BC46;
    }
    /* ================================ Top Bar Aside Buttons */
    #search-section .top-bar-btn{
        float: right;
        text-decoration: none;
        color: #2c2c2c;
        padding: 15px;
        margin-right: 5px;
        border-radius: 60px;
        transition: all ease-in-out 120ms;
    }
    #search-section .top-bar-btn:hover{
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }
    /* Aside Google With Menu */
    #google-dropdown-btn{
        position: relative;
    }
    /* ====== Top Bar Sign In button */
    #search-section #signin-btn{
        background-color: #65BC46;
        border: .5px solid lightgray;
        float: right;
        text-decoration: none;
        color: #fff;
        width: 5%;
        font-weight: 900;
        text-align: center;
        padding: 12px;
        border-radius: 5px;
        transition: all ease-in-out 120ms;
    }
    #search-section #signin-btn:hover{
        background-color: #6cca4a;
    }
    /* Top Bar Foot */
    #search-section-foot{
        width: 90%;
        clear: both;
        padding-left: 4%;
        padding-top: 14px;
    }
    #search-section-foot a{
        color: rgb(104, 104, 104);
        text-decoration: none;
        margin-left: 20px;
        background-color: #fff;
    }
    /* ============================================================ */
    /* Result Display */
    #result-display{
        width: 100%;
        margin-top: 2.5%;
        float: left;
        padding-left: 1%;
    }
    /* Result Item */
    #result-display .result-item{
        margin-top: 15px;
        padding: 5px;
        width: 90%;
        cursor: pointer;
        font-family: 'Nunito Sans', sans-serif !important;
        font-weight: 500;
        border: .5px solid #fff;
        transition: all ease-in-out 110ms;
    }
    #result-display .result-item:hover{
        border: .5px solid lightgray;
    }
    #result-display .result-item h1{
        font-size: 20px;
        font-weight: 1500;
        color: #1a0dab;
    }
    #result-display .result-item h3{
        font-size: 14px;
        font-weight: 400;
        color: #006621;
    }
    #result-display .result-item p{
        font-size: 14px;
        font-weight: 500;
        color: #494949;
    }
    /* ============================================================ */
    /* Result Aside Section */
    #result-aside{
        display: none !important;
        width: 25%;
        float: left;
        margin-top: 2.5%;
    }
    /* ======================================== */
    /* %%%%%%%%%%% The Aside YT Section */
    #result-aside #result-aside-yt{
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        padding-bottom: 5px;
    }
    /* Videos Topic */
    #result-aside #result-aside-yt #result-aside-yt-topic{
        font-size: 20px;
        text-align: left;
        padding: 10px;
    }
    /* More Videos anchor */
    #result-aside #result-aside-yt a{
        color: #111;
        text-decoration: none;
        padding: 10px;
    }
    /* One YT Item */
    #result-aside #result-aside-yt .result-aside-yt-item{
        border-bottom: .5px solid lightgray;
        overflow: hidden;
        transition: all ease-in-out 180ms;
    }
    /* hovered */
    #result-aside #result-aside-yt .result-aside-yt-item:hover{
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }
    #result-aside #result-aside-yt .result-aside-yt-item img{
        width: 40%;
        float: left;
    }
    #result-aside #result-aside-yt .result-aside-yt-item p{
        width: 56%;
        padding-left: 10px;
        float: left;
    }

    /* %%%%%%%%%%% Aside Market Section */
    #result-aside #result-aside-market{
        margin-top: 10px;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        padding-bottom: 5px;
        clear: both;
    }
    /* Market Topic */
    #result-aside #result-aside-market #result-aside-market-topic{
        font-size: 20px;
        text-align: left;
        padding: 10px;
    }
    /* More Videos anchor */
    #result-aside #result-aside-market a{
        color: #111;
        text-decoration: none;
        padding: 10px;
    }
    /* One YT Item */
    #result-aside  #result-aside-market .result-aside-market-item{
        border-bottom: .5px solid lightgray;
        overflow: hidden;
        transition: all ease-in-out 180ms;
    }
    /* hovered */
    #result-aside  #result-aside-market .result-aside-market-item:hover{
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }
    #result-aside #result-aside-market .result-aside-market-item img{
        width: 40%;
        float: left;
    }
    #result-aside #result-aside-market .result-aside-market-item p{
        width: 56%;
        padding-left: 10px;
        float: left;
    }
    /* ================= FOOTER =============== */
    footer{
        padding: 10px 80px;
        font-weight: 900;
        font-size: 18px;
        font-family: 'Abhaya Libre';
        clear: both;
        border-top: .5px solid lightgray;
        background-color: #FAFAFA;
    }
    footer img{
        width: 5%;
        float: left;
    }
    footer p{
        float: left;
        padding-top: 10px;
        font-weight: 900;
    }
}